
body {
    background-color: #080d14;
}

bg-light border navbar navbar-expand-md navbar-light{
    background-color:silver;
}

.container {
    width: 100;
    height: 100;
    margin: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar_container {
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 1px;
    margin: 1px;
    border-radius: 5px;
    background-color: aqua;
}

button {
    margin: 5px;
}
